/*

  roshambo.css

  Expected structure:

  .toolbar -> element that holds your buttons.
  #editor -> element that roshambo binds to.
*/

#toolbar button {
  height: 30px;
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 1px #CCC;
  color: black;
  font-weight: bold;
}

#toolbar button.active {
  color: red;
}

button:active {
  color: #999;
}

#editor {
  height: 200px;
  border: 1px solid #CCC;
  box-shadow: 0px 1px 5px #CCC;
  margin-bottom: 20px;
  padding: 10px;
  overflow: scroll;
}

#editor:focus {
  outline: none;
}
